body {
        background-color: #2892d7;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
}

.cell {
        border: 5px solid white;
        border-radius: 10px;
        background-color: #2a628f;
        text-align: center;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

#nav {
        list-style-type: none;
        display: inline;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

.headline {
        text-align: center;
}

.cell img {
        width: 50%;
}

.underline {
        text-decoration: underline;
}

a {
        color: white;
}

p a {
        font-weight: bold;
}

.cell p {
        padding-left: 10px;
        padding-right: 10px;
}

a:hover {
        color: #ff5e77 !important;
}

a:visited {
        color: white;
}